<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljs.livolunteer.mapper.ActivityRegistrationMapper">

    <resultMap id="BaseResultMap" type="com.ljs.livolunteer.model.entity.ActivityRegistration">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="activityId" column="activityId" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="reviewMessage" column="reviewMessage" jdbcType="VARCHAR"/>
        <result property="reviewerId" column="reviewerId" jdbcType="BIGINT"/>
        <result property="reviewTime" column="reviewTime" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>
